# системные файлы
Thumbs.db
.DS_Store
*~


# игнорируемые файлы проекта
*.pyc
*.exe
# settings*.ini
/Разработка CMExtend/CMExtend_*.exe



# игнорируемые директории проекта
/Разработка CMExtend/



# нужные файлы в запрещённых директориях
!settings_sample.ini


