# системные файлы
Thumbs.db
.DS_Store
*~


# игнорируемые файлы проекта
*.jpg
*.pyc
*.exe
# settings*.ini
/zCMExtend_development/CMExtend_*.exe



# игнорируемые директории проекта
/zCMExtend_development/
/screens/



# нужные файлы в запрещённых директориях
!settings_sample.ini
#!/zCMExtend_development/Диапазон сообщений Win.txt


